.highlight {
    background-color: #FFFF88;
}

p {
    font-size: 12px;
    font: cursive;
    color: black;

}
#textArea {
    float: left;
}

#searchText {
    font-size: 12px;
    font: serif;
    background-color: white;
    float: left;


}
